<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".RealmApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sports_go_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportsGO">

        <!-- 1. ASEGÚRATE QUE ESTE TEMA EXISTE EN THEMES.XML -->
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. AÑADIDO EXPORTED=FALSE POR SEGURIDAD -->
        <activity
            android:name=".CaloriesActivity"
            android:exported="false" />

        <activity
            android:name=".PupilWorkoutActivity"
            android:exported="false" />

        <activity
            android:name=".TrainerDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".TrainerAssignWorkoutActivity"
            android:exported="false" />

        <activity
            android:name=".DashboardActivity"
            android:exported="false" />


        <!-- (juan); Añado las activities de las pantallas de inicio (User, trainer, admin)
         manteniendo el main como pantalla principal e inicial -->
        <activity
            android:name=".logins.UserLoginActivity">
        </activity>

        <activity
            android:name=".ElegirLoginActivity">
        </activity>

        <activity
            android:name=".logins.AdminLoginActivity">
        </activity>

        <activity
            android:name=".logins.TrainerLoginActivity">
        </activity>

        <activity android:name=".registers.UserRegisterActivity" />

        <activity android:name=".registers.TrainerRegisterActivity" />

        <activity android:name=".registers.AdminRegisterActivity" />

    </application>

</manifest>